body {
  background-color: #f0f4f5;
  font-family: arial;
  text-align: center;
}

.outsideBlock {
  display: inline-block;
  text-align: center;
  border: 3px solid #005eb8;
  background: white;
  height: auto;
  width: 24em;
  border-radius: 10px 10px 10px 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  z-index: 100;
  margin-top: 4em;
  
}

.inputBox {
  display: inline-block;
  text-align: center;
  border: 3px solid #005eb8;
  background: white;
  height: auto;
  width: 19em;
  border-radius: 10px 10px 10px 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 100;
}

h1 {
  font-size: 40px;
}

.BerekenKnop {
  background-color: #3356E7;
  border: none;
  border-radius: 10px 10px 10px 10px;
  color: white;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer;
}

.response {
  text-align: center;
  border: 3px solid #005eb8;
  background: white;
  height: auto;
  width: 16em;
  border-radius: 10px 10px 10px 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 100;
  margin-left: 3.8em;
}

.BackHome {
  background-color: #005eb8;
  border: none;
  border-radius: 0px 0px 10px 10px;
  color: white;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 0px 2px;
  cursor: pointer;
}

.HomeLink {
  text-align: center;
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
  background-color: #005eb8;
  border: none;
  color: white;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px 0px;
  cursor: pointer;
}

.HomeBlock {
  text-align: center;
  border: 3px solid #005eb8;
  background: white;
  height: auto;
  width: 16em;
  border-radius: 10px 10px 0px 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 100;
  margin-left: 3.7em;
  margin-bottom: -33px;
}
